@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
* {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 100
}

body {
    padding: 10px;
    background: #222;
}

video {
    width: 100%;
    border: 3px solid #111;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.streamerDiv {
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.videosDiv {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.line {
    width: 80%;
    height: 2px;
    background: #111;
    margin-bottom: 10px;
    margin-top: 30px;
}

@media screen and (orientation:portrait) {
    .video {
        min-width: 50%;
        width: 50%;
    }
}

@media screen and (orientation:landscape) {
    .video {
        min-width: 15%;
        width: 15%;
    }
}

.video {
    cursor: pointer;
    margin: 10px;
    border: #111 solid 3px;
    border-radius: 5px;
}

.videoPreview {
    width: 100%;
}

.videoDuration {
    background: #444;
    text-align: center;
    color: white;
    font-size: 30px;
}

.videoTime {
    text-align: center;
    color: white;
    font-size: 15px;
}

#playerDiv {
    width: 80%;
}